<div class="nav">
    <h1 id="logo">Seacom<span>.</span></h1>
    <ul>
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
        <li>
            <a href="/books">Books</a>
        </li>
        <li>
            <a href="/add_books">AddBooks</a>
        </li>
        <li>
            <a href="/profile">
                <img src="<%= profile_photo %>" width="15px">
            </a>
        </li>
    </ul>
    <i class="fa-solid fa-bars hambar"></i>
</div>