<footer id="contact">
    <p class="gmail">seacom@gmail.com</p>
    <ul>
        <li id="fb">
            <a href="https://www.facebook.com">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </li>
        <li id="tg">
            <a href="https://t.me/+UJpkp3_WTmtiYmU1">
                <i class="fa-brands fa-telegram"></i>
            </a>
        </li>
        <li id="linkedin">
            <a href="www.linkedin.com/in/prala-ygiri">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li id="twitter">
            <a href="https://twitter.com">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
    </ul>
    <p>&#169 2023 All Rights Reserved Seacom Management College</p>
</footer>